@import "colors";

@mixin rounded-border($style) {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px $style $tupturuncu;
	padding: 3px;
}

.value:hover {
	@include rounded-border(dashed);
}

pre:hover {
	@include rounded-border(solid);
}